// You can use Sass (SCSS) here: http://sass-lang.com/
// font-family: 'Permanent Marker', cursive;
// font-family: 'Walter Turncoat', cursive;
// font-family: 'Fontdiner Swanky', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Special Elite', cursive;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Architects Daughter', cursive;
// https://www.google.com/fonts#UsePlace:use/Collection:Permanent+Marker|Walter+Turncoat|Fontdiner+Swanky|Oswald|Indie+Flower|Rock+Salt|Special+Elite|Architects+Daughter

.bg_site {
  background-color: #404041;
  font-family: 'Oswald', sans-serif;
}

.bg_feed {
  background-color: #404041;
  color: white;
}

.bg_nav {
  background-color: #a4d640;
  border-color: #a4d640;
  font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-brand {
  color: #f6f7f4;
}

.navbar-default .navbar-nav>li>a {
  color: #f6f7f4;
}

img {
  max-width: 80%;
  height: auto;
  width: auto\6; /* ie8 */
}

#create_entry {
  background-color: white;
  color: black;
  border: 5px groove #a4d640;
  padding: 3px;
}

#myModal {
  color: black;
}