// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg_site {
  background-color: #404041;
  color: white;
}

.bg_nav {
  background-color: #a4d640;
  border-color: #a4d640;
}

.navbar-default .navbar-brand {
color: #f6f7f4;
}

.navbar-default .navbar-nav>li>a {
color: #f6f7f4;
}