<%= render 'layouts/nav' %>
<div class="bg_feed" ng-controller="feedCtrl">
  <h2>Curious about something in the health scene?...
    <button class="btn btn-primary" ng-click="open()" data-toggle="modal" data-target="#myModal">Post a link and poll the public</button>
  </h2>
    <%= render partial: 'entries/create' %>

  <h2> Trending posts - vote your opinion! </h2>

<div>
  <div ng-repeat="entry in entries">
    <div>
      <div>{{entry.link_url}}</div>
      <div>{{entry.question}}</div><br>
    </div>
  </div>
</div>
