<h1> SiteFeed </h1>

<div ng-controller="feedCtrl">
  <div ng-repeat="entry in entries">
    <div> <img src={{entry.img}} /></div>
    <div>{{entry.links}}</div>
    <div>{{entry.question}}</div>
    <div>{{entry.answers}}</div><br>
  </div>
</div>