<!DOCTYPE html>
<html ng-app="WutsHealthy">
<head>
  <title>Wuts Healthy?</title>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Walter+Turncoat|Fontdiner+Swanky|Oswald|Indie+Flower|Rock+Salt|Special+Elite|Orbitron|Architects+Daughter' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="container bg_site">
    <%= yield %>  
  </body>
</html>
